In [2]:
print("Hello World!")

Hello World!

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, mean_squared_error, r2_score

In [9]:
df_transactions = pd.read_csv('transactional-sample.csv')

In [14]:
df_transactions['bin'] = df_transactions['card_number'].astype(str).str[0:6]

In [20]:
df_transactions['last_digits'] = df_transactions['card_number'].astype(str).str[12:]

In [31]:
df_transactions.head()

,transaction_id,merchant_id,user_id,card_number,transaction_date,transaction_amount,device_id,has_cbk,bin,last_digits
0,21320398,29744,97051,434505******9116,2019-12-01 23:16:32.812632,374.56,285475.0,False,434505,9116
1,21320399,92895,2708,444456******4210,2019-12-01 22:45:37.873639,734.87,497105.0,True,444456,4210
2,21320400,47759,14777,425850******7024,2019-12-01 22:22:43.021495,760.36,nan,False,425850,7024
3,21320401,68657,69758,464296******3991,2019-12-01 21:59:19.797129,2556.13,nan,True,464296,3991
4,21320402,54075,64367,650487******6116,2019-12-01 21:30:53.347051,55.36,860232.0,False,650487,6116

In [22]:
df_transactions['user_id'] = df_transactions['user_id'].astype(str)
df_transactions['merchant_id'] = df_transactions['merchant_id'].astype(str)
df_transactions['transaction_id'] = df_transactions['transaction_id'].astype(str)
df_transactions['device_id'] = df_transactions['device_id'].astype(str)

In [49]:
df_fraud = df_transactions.transaction_amount[df_transactions.has_cbk == True]
df_not_fraud = df_transactions.transaction_amount[df_transactions.has_cbk == False]

df_fraud.describe()

count     391.000000
mean     1453.571918
std      1169.491346
min         2.890000
25%       565.580000
50%       999.470000
75%      2140.680000
max      4097.210000
Name: transaction_amount, dtype: float64

In [51]:
df_not_fraud.describe()

count    2808.000000
mean      672.324380
std       797.463853
min         1.220000
25%       191.285000
50%       360.315000
75%       812.577500
max      4091.830000
Name: transaction_amount, dtype: float64

In [53]:
df_transactions.has_cbk.value_counts()

False    2808
True      391
Name: has_cbk, dtype: int64