In [296]:
import pandas as pd
import numpy as np
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, recall_score
import pickle

In [297]:
df_transactions = pd.read_csv('transactional-sample.csv')

In [298]:
df_transactions['bin'] = df_transactions['card_number'].astype(str).str[0:6]

In [299]:
df_transactions['last_digits'] = df_transactions['card_number'].astype(str).str[12:]

In [300]:
df_transactions.head()

,transaction_id,merchant_id,user_id,card_number,transaction_date,transaction_amount,device_id,has_cbk,bin,last_digits
0,21320398,29744,97051,434505******9116,2019-12-01T23:16:32.812632,374.56,285475.0,False,434505,9116
1,21320399,92895,2708,444456******4210,2019-12-01T22:45:37.873639,734.87,497105.0,True,444456,4210
2,21320400,47759,14777,425850******7024,2019-12-01T22:22:43.021495,760.36,NaN,False,425850,7024
3,21320401,68657,69758,464296******3991,2019-12-01T21:59:19.797129,2556.13,NaN,True,464296,3991
4,21320402,54075,64367,650487******6116,2019-12-01T21:30:53.347051,55.36,860232.0,False,650487,6116

In [301]:
df_transactions['transaction_amount'] = df_transactions['transaction_amount'].fillna(0)
df_transactions['device_id'] = df_transactions['device_id'].fillna('0')
# df_transactions['merchant_id'] = df_transactions['merchant_id'].fillna('0')
# df_transactions['user_id'] = df_transactions['user_id'].fillna('0')

In [302]:
df_transactions['user_id'] = df_transactions['user_id'].astype(str)
df_transactions['merchant_id'] = df_transactions['merchant_id'].astype(str)
df_transactions['transaction_id'] = df_transactions['transaction_id'].astype(str)
df_transactions['device_id'] = df_transactions['device_id'].astype(str)
df_transactions['transaction_date'] = pd.to_datetime(df_transactions['transaction_date'])

In [303]:
df_transactions['day'] = df_transactions['transaction_date'].apply(lambda r:r.day)
df_transactions['hour'] = df_transactions['transaction_date'].apply(lambda r:r.hour)
df_transactions['minute'] = df_transactions['transaction_date'].apply(lambda r:r.minute)

In [304]:
df_fraud = df_transactions[df_transactions.has_cbk == 1]
df_not_fraud = df_transactions[df_transactions.has_cbk == 0]

df_not_fraud_sample = df_not_fraud.sample(391)
df_fraud_sample = df_fraud

df_final = pd.concat([df_not_fraud_sample, df_fraud_sample])

In [305]:
df_final = df_final.reset_index()

In [306]:
x = df_final.drop(['transaction_id', 'card_number', 'has_cbk', 'transaction_date', 'index'], axis = 1)

In [307]:
y = df_final['has_cbk'].astype(int)

In [308]:
x.head()

,merchant_id,user_id,transaction_amount,device_id,bin,last_digits,day,hour,minute
0,15227,86620,1834.23,47609.0,444456,8170,26,17,46
1,62052,28771,1295.76,48458.0,498442,5470,18,14,35
2,25671,72132,1073.22,0,516376,4270,4,17,45
3,22918,63646,137.47,804022.0,544731,1611,24,21,57
4,6112,82081,420.21,0,516292,5463,8,12,39

In [309]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

In [310]:
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

LogisticRegression()

In [311]:
# recall, accuracy,

In [312]:
pred = logisticRegr.predict(x_test)

In [313]:
acc = accuracy_score(y_test, pred)
recall = recall_score(y_test, pred)

In [315]:
pickle.dump(logisticRegr, open('ml.sav', 'wb'))

In [318]:
predict_proba = logisticRegr.predict_proba(x_test)

In [319]:
predict_proba

array([[0.54968525, 0.45031475],
       [0.12266636, 0.87733364],
       [0.52673269, 0.47326731],
       [0.60033378, 0.39966622],
       [0.61483202, 0.38516798],
       [0.56181247, 0.43818753],
       [0.54961454, 0.45038546],
       [0.35816364, 0.64183636],
       [0.66011658, 0.33988342],
       [0.20202205, 0.79797795],
       [0.66157025, 0.33842975],
       [0.67235348, 0.32764652],
       [0.11238325, 0.88761675],
       [0.08738919, 0.91261081],
       [0.46330148, 0.53669852],
       [0.47806437, 0.52193563],
       [0.68692257, 0.31307743],
       [0.59898547, 0.40101453],
       [0.64016566, 0.35983434],
       [0.69002659, 0.30997341],
       [0.6152986 , 0.3847014 ],
       [0.40262878, 0.59737122],
       [0.67932252, 0.32067748],
       [0.42157122, 0.57842878],
       [0.1560571 , 0.8439429 ],
       [0.37308751, 0.62691249],
       [0.34832222, 0.65167778],
       [0.53605928, 0.46394072],
       [0.11683626, 0.88316374],
       [0.66607829, 0.33392171],
       [0.39201057, 0.60798943],
       [0.73235263, 0.26764737],
       [0.51550909, 0.48449091],
       [0.64841529, 0.35158471],
       [0.70516939, 0.29483061],
       [0.44571177, 0.55428823],
       [0.5359648 , 0.4640352 ],
       [0.52805206, 0.47194794],
       [0.68827695, 0.31172305],
       [0.64792919, 0.35207081],
       [0.73707861, 0.26292139],
       [0.60504439, 0.39495561],
       [0.4573565 , 0.5426435 ],
       [0.1124203 , 0.8875797 ],
       [0.46674532, 0.53325468],
       [0.56693307, 0.43306693],
       [0.60735835, 0.39264165],
       [0.57211164, 0.42788836],
       [0.74000738, 0.25999262],
       [0.73851654, 0.26148346],
       [0.46831162, 0.53168838],
       [0.56476885, 0.43523115],
       [0.26265072, 0.73734928],
       [0.58498332, 0.41501668],
       [0.0877116 , 0.9122884 ],
       [0.45161276, 0.54838724],
       [0.63845876, 0.36154124],
       [0.60305844, 0.39694156],
       [0.60887727, 0.39112273],
       [0.66572338, 0.33427662],
       [0.60184685, 0.39815315],
       [0.25602512, 0.74397488],
       [0.30646273, 0.69353727],
       [0.64625576, 0.35374424],
       [0.42550771, 0.57449229],
       [0.63311482, 0.36688518],
       [0.62779373, 0.37220627],
       [0.54174418, 0.45825582],
       [0.6201367 , 0.3798633 ],
       [0.567641  , 0.432359  ],
       [0.52960747, 0.47039253],
       [0.2127065 , 0.7872935 ],
       [0.54481871, 0.45518129],
       [0.52545003, 0.47454997],
       [0.2922034 , 0.7077966 ],
       [0.23527642, 0.76472358],
       [0.05952353, 0.94047647],
       [0.6569396 , 0.3430604 ],
       [0.23775616, 0.76224384],
       [0.1898278 , 0.8101722 ],
       [0.59454777, 0.40545223],
       [0.68395446, 0.31604554],
       [0.39357578, 0.60642422],
       [0.32575014, 0.67424986],
       [0.43267219, 0.56732781],
       [0.71689302, 0.28310698],
       [0.63551873, 0.36448127],
       [0.39978283, 0.60021717],
       [0.5314219 , 0.4685781 ],
       [0.37338655, 0.62661345],
       [0.70444087, 0.29555913],
       [0.44946555, 0.55053445],
       [0.61620502, 0.38379498],
       [0.52852201, 0.47147799],
       [0.6946167 , 0.3053833 ],
       [0.14213699, 0.85786301],
       [0.350216  , 0.649784  ],
       [0.62568159, 0.37431841],
       [0.65079353, 0.34920647],
       [0.62477954, 0.37522046],
       [0.76230647, 0.23769353],
       [0.56996453, 0.43003547],
       [0.46609016, 0.53390984],
       [0.7276445 , 0.2723555 ],
       [0.67632142, 0.32367858],
       [0.53542082, 0.46457918],
       [0.66588797, 0.33411203],
       [0.75071676, 0.24928324],
       [0.69715441, 0.30284559],
       [0.64703051, 0.35296949],
       [0.49515195, 0.50484805],
       [0.62942842, 0.37057158],
       [0.52523138, 0.47476862],
       [0.60707819, 0.39292181],
       [0.33312513, 0.66687487],
       [0.20528556, 0.79471444],
       [0.40872415, 0.59127585],
       [0.08101222, 0.91898778],
       [0.60866513, 0.39133487],
       [0.20843872, 0.79156128],
       [0.66751999, 0.33248001],
       [0.55784019, 0.44215981],
       [0.49857523, 0.50142477],
       [0.09477004, 0.90522996],
       [0.35494628, 0.64505372],
       [0.46435357, 0.53564643],
       [0.16204412, 0.83795588],
       [0.10654784, 0.89345216],
       [0.09877226, 0.90122774],
       [0.45360334, 0.54639666],
       [0.56937036, 0.43062964],
       [0.26017212, 0.73982788],
       [0.297255  , 0.702745  ],
       [0.74146275, 0.25853725],
       [0.58496526, 0.41503474],
       [0.77258598, 0.22741402],
       [0.23248545, 0.76751455],
       [0.75814424, 0.24185576],
       [0.6465665 , 0.3534335 ],
       [0.59376192, 0.40623808],
       [0.37870237, 0.62129763],
       [0.68606185, 0.31393815],
       [0.55593872, 0.44406128],
       [0.51135446, 0.48864554],
       [0.59445346, 0.40554654],
       [0.57244115, 0.42755885],
       [0.691758  , 0.308242  ],
       [0.73725631, 0.26274369],
       [0.28532747, 0.71467253],
       [0.70625248, 0.29374752],
       [0.70359638, 0.29640362],
       [0.27008694, 0.72991306],
       [0.49120181, 0.50879819],
       [0.62280414, 0.37719586],
       [0.6304844 , 0.3695156 ],
       [0.70676848, 0.29323152],
       [0.50711999, 0.49288001]])

In [320]:
x_train.dtypes

merchant_id            object
user_id                object
transaction_amount    float64
device_id              object
bin                    object
last_digits            object
day                     int64
hour                    int64
minute                  int64
dtype: object